@use '../../styles/layout';
@use '../../styles/typography';
@use '../../styles/breakpoints';

.app__chef {
  @include layout.section__padding;
  @include layout.flex__center;
  gap: 2rem;

  @include breakpoints.md {
    flex-direction: column;
    gap: 1rem;
  }

  &-content {
    @include typography.get('opensans');
    margin-top: 3rem;

    p {
      color: var(--color-grey);
    }

    &_quote {
      display: flex;
      align-items: baseline;
      gap: 10px;

      img {
        width: 47px;
      }
    }
  }

  &-sign {
    margin-top: 3rem;

    img {
      margin-top: 3rem;
      width: 235px;
    }

    &_name {
      @include typography.get('cormorant');
      color: var(--color-golden);
      font-size: 2rem;
    }
    &_title {
      @include typography.get('opensans');
      font-size: 1rem;
      margin-top: 1rem;
      color: var(--color-grey);
    }
  }
}
